body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

p,
a,
li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@import "./navbar.scss";
@import "./home.scss";
@import "./aboutme.scss";
@import "./mywork.scss";
@import "./contact.scss";
@import "./footer.scss";
