.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a2e;
  color: #e94560;
  padding: 0.8rem 6%;
  position: fixed;
  width: 100%;
  z-index: 5;
  &-logo {
    h1 {
      font-weight: bold;
    }
  }
  &-hdng {
    margin-left: 2rem;
    font-weight: bold;
    color: #30ce09;
    border-top: 2px solid wheat;
    border-bottom: 2px solid wheat;
    border-radius: 25px;
    padding: 5px;
    margin: 5px 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    cursor: pointer;
    @media (max-width: 767px) {
      margin-left: 1rem;
    }
  }
  &-list {
    display: flex;
    flex-direction: row;
    @media (max-width: 1024px) {
      flex-direction: column;
      position: fixed;
      right: -300px;
      top: 86px;
      color: black;
      width: 300px;
      height: 100vh;
      transition: 0.5s;
      background-color: #1a1a2e;
      padding-top: 80px;
    }
    &.active {
      right: 0;
      transition: 0.5s;
    }
    .nav-link {
      margin: 0 10px;
      text-decoration: none;
      color: #fbfbfb;
      margin: 0 2rem;
      h5 {
        font-size: 1.7rem;
        font-weight: bold;
        @media (max-width: 767px) {
          margin-bottom: 1rem;
          font-size: 1.9rem;
        }
        &:hover {
          border-bottom: 2px solid #ff6f61;
          transition: 0.2s ease;
        }
      }
    }
  }
  .nav-btn {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      margin-right: 1rem;
      border-radius: 10px;
    }
    svg {
      width: 40px;
      height: 30px;
    }
  }
}
